<div class='sign-in-title-container'> 
  <span class='sign-in-title'>All Users</span>

  <% if !current_user.admin %>
    <table class="table table-borderless">
      <thead >
        <tr>
          <th class="table-col">Name</th>
          <th class="table-col">Uses</th>
        </tr>
      <thead>

      <tbody>
        <% @users.each do |user| %>
          <tr class='table-row'>
            <td ><%= user.name %></td>
            <td><%= user.uses %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <table class="table table-borderless">
      <thead >
        <tr>
          <th class="table-col">Name</th>
          <th class="table-col">Uses</th>
          <th class='table-col'>Delete</th>
        </tr>
      <thead>

      <tbody>
        <% @users.each do |user| %>
          <tr class='table-row'>
            <td ><%= user.name %></td>
            <td><%= user.uses %></td>
            <td><%= link_to "Yeet", user_delete_path(user), method: "delete", :data => {:confirm => 'Are you sure?'}, class: "sign-in-support-button"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>