<div id="clearance" class="sign-up">
  <div class='sign-in-title-container'>
    <span class='sign-in-title'> SIGN UP </span>
  </div>

  <%= form_with model: @user do |form| %>
    <div class='form-section'>
      <div class="text-field" id='form-field'>
        <%= form.text_field :email, type: 'email', :placeholder =>'Email', class:'form-input'%>
      </div>

      <div class="text-field" id='form-field'>
        <%= form.text_field :name, type: 'name', :placeholder => 'Name', class: 'form-input'%>
      </div>


      <div class="text-field" id='form-field'>
        <%= text_field_tag :keyword, nil, placeholder: 'Keyword', class: 'form-input'%>
      </div>

      <div class="password-field" id='form-field'>
        <%= form.password_field :password, :placeholder => 'Password', class: 'form-input'%>
      </div>


      <div class="submit-field" id='form-field'>
        <span class='submit-button'>
          <%= form.submit 'Submit', :class => 'form-input'%>
        </span>
      </div>


      <div class='sign-in-support-container'>
        <div class="other-links">
          <%= link_to t(".sign_in"), sign_in_path, class:'sign-in-support-button'%>
        </div>
      </div>
    </div>
  <% end %>
</div>

